html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    min-height: 100vh;
    color: #393939;
}

/* Font */
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../font/Montserrat-Regular.otf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../font/Montserrat-Light.otf");
}
@font-face {
    font-family: "MontserratAlternates-Regular";
    src: url("../font/MontserratAlternates-Regular.otf");
}
@font-face {
    font-family: "MontserratAlternates-Light";
    src: url("../font/MontserratAlternates-Light.otf");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("../font/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Light";
    src: url("../font/Raleway-Light.ttf");
}
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../font/TitilliumWeb-Regular.ttf");
}
@font-face {
    font-family: "TitilliumWeb-Light";
    src: url("../font/TitilliumWeb-Light.ttf");
}
.font1{
    font-family: Montserrat-Regular;
}
.font1-thin{
    font-family: Montserrat-Light;
}
.font2{
    font-family: MontserratAlternates-Regular;
}
.font2-thin{
    font-family: MontserratAlternates-Light;
}
.font3{
    font-family: Raleway-Regular;
}
.font3-thin{
    font-family: Raleway-Light;
}
.font4{
    font-family: TitilliumWeb-Regular;
}
.font4-thin{
    font-family: TitilliumWeb-Light;
}
.brown1 {
    color: #826C54;
}
.brown2 {
    color: #8C543B;
}
.brown3 {
    color: #7A6D39;
}
.brown4 {
    color: #91895D;
}
.brown5 {
    color: #B8AB74;
}
.brown6 {
    color: #D6CB95;
}
.black1 {
    color: #393939;
}
.black2 {
    color: #242424;
}
.black3 {
    color: #3E3E3E;
}
.black4 {
    color: #000000;
}

/* Menu */
#menu {
    height: 5vh;
    position: fixed;
    font-family: Montserrat-Regular;
    width: 100vw;
    z-index: 9;
}
#menu .hover-menu u {
    text-decoration: none;
    margin-top: 10px;
    border-bottom: 2px solid #91895D;
}
#menu.change-menu .hover-menu u, #menu u {
    text-decoration: none;
    border-bottom: none;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu .filler {
    flex: 1;
}
.home-menu > div {
    flex: 2;
    text-align: center;
    border-right: 1px solid white;
}
.logo img {
    height: 3vh;
    margin: -2px;
}
.home-menu, .home-menu a {
    color: white;
    text-decoration: none;
}
.change-menu a {
    color: #393939;
}
#menu a.blur-hover-menu {
    color: rgba(255,255,255,0.7);
}
#menu.change-menu a.blur-hover-menu {
    color: rgba(0,0,0,0.4);
}
.change-menu {
    background-color: white;
    color: #393939;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.change-menu > div {
    border-right: 1px solid #393939;
}
.current-menu {
    color: #8C543B;
}

/* Home */
.fullpage {
    height: 100vh;
}
.background {
    background-image: url('../img/background/learning.jpg');
    background-position: center;
    background-size: cover;
}
.black-background {
    background: rgba(0, 0, 0, 0.7);
}
#home h1 {
    color: white;
    font-size: 4em;
}
.content {
    position: absolute;
    height: 50vh;
    display: flex;
    width: 70vw;
}
.white-background {
    background-color: white;
}
.brown-background {
    background-color: #B8AB74;
}
#home .brown-background {
    height: 40vh;
    width: 20px;
    margin: 4em;
}
h1 {
    font-family: Raleway-Regular;
    font-size: 4em;
}
#home h1 {
    margin-right:17vw;
}
#home u {
    text-decoration: none;
    margin-top: 10px;
    border-bottom: 5px solid #91895D;
}
#home i {
    color: #B8AB74;
    font-size: 6em;
    bottom: 2px;
    margin-top: 80vh;
}
#home i:hover {
    color: #7A6D39;
}
@media only screen and (max-width: 1200px) {
    #home .brown-background {
        width: 15px;
    }
    #home h1 {  
        font-size: 3em;
    }
    #home i {
        font-size: 5em;
    }
}
@media only screen and (max-width: 900px) {
    .content {
        width: 90vw;
    }
    #home .brown-background {
        height: 30vh;
    }
}
@media only screen and (max-width: 730px) {
    #home h1 {  
        margin-right: 0px;
    }
    .logo {
        display: none;
    }
}
@media only screen and (max-width: 530px) {
    #home h1 {  
        font-size: 2.5em;
    }
    #home .brown-background {
        margin: 1em;
        height: 25vh;
        width: 13px;
    }
    .filler {
        display: none;
    }
    #menu {
        font-size: 0.9em;
    }
}

/* About */
section#about {
    height: auto;
}
#about > div {
    max-width: 1360px;
}
#about > div > div{
    flex: 1;
    margin: 5vw;
}
.box-container {
    display: flex;
    flex-direction: column;
}
#about ul {
    color: #826C54;
    font-family: MontserratAlternates-Regular;
}
h1 {
    color: #8C543B;
    font-family: Raleway-Regular;
    margin: 20px 0px;
    font-size: 3em;
}
#about h2 {
    margin: 0px;
    font-family: TitilliumWeb-Light;
    color: #393939;
}
#about .box {
    border-radius: 10px;
}
.box {
    flex: 1;
    border: 1px solid #E7E7E7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    margin: 0.5em;
}
.number {
    float: right;
    font-size: 1.5em;
    font-family: Montserrat-Regular;
}
.bullet {
    display: flex
}
.bullet > ul {
    flex: 1;
}
hr {
    height: 8px;
    background-color: #D6CB95;
    border: none;
    width: 170px;
    margin-left: 0px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 900px) and (min-width:716px){
    #about > div > div {
        margin: 5vw 0 5vw 5vw;
    }
    #about > div > div.box-container {
        margin: 7vw 3vw 5vw 2vw;
    }
    .number, #about h2 {
        font-size: 1.1em;
    }
    #about ul {
        font-size: 0.85em;
    }
    .box {
        padding: 0.7em;
    }
}
@media only screen and (max-width: 900px) {
    h1 {
        font-size: 2.5em;
    }
    hr {
        height: 6px;
        width: 140px;
    }
    .grid-container, #vision .grid-container, #team .grid-container, #client .grid-container {
        width: 550px;
    }
}
@media only screen and (max-width: 715px) {
    #about > div {
        flex-direction: column;
    }
    #about > div > div {
        margin: 10vw 5vw 0vw 5vw;
    }
    #about > div > div.box-container {
        margin: 2vw 5vw 5vw 5vw;
    }
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.2em;
    }
    hr {
        height: 5px;
    }
    .grid-container, #vision .grid-container, #team .grid-container, #client .grid-container {
        width: 350px;
    }
    .number, #about h2 {
        font-size: 1.1em;
    }
    #about ul {
        font-size: 0.85em;
    }
    .box {
        padding: 0.7em;
    }
    #vision .grid-container h2, #vision i {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2em;
    }
    hr {
        width: 100px;
    }
    .grid-container, #vision .grid-container, #team .grid-container, #client .grid-container {
        width: 310px;
    }
}

/* Vision */
section#vision {
    height: auto;
    text-align: center;
    margin-bottom: 2em;
}
.grid, #vision h2{
    font-family: Raleway-Light;
}
h1.grid {
    font-size: 24px;
    color: #D6CB95;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: url("../img/background/heading-grey.jpg") center repeat-x;
    margin: 0 0 25px 0;
}
h1.grid span {
    background: #FFF;
    padding: 0 20px;
}
#vision h2 {
    font-size: 1em;
    color: #3E3E3E;
}

/* Workflow */
section#workflow {
    height: auto;
    background-color: #EAEAEA;
    padding: 2vw 0vw;
}
#workflow > div {
    /* width: 60vw; */
    /* max-width: 800px; */
    padding: 2em;
}
#workflow b {
    color: #8C543B;
    font-size: 1.5em;
    font-family: Montserrat-Regular;
}
#workflow .box {
    padding: 0em 1em;
    margin: 1em;
    background-color: white;
    width: 60vw;
    max-width: 840px;
    margin-left: 0px;
    color: #393939;
}
#workflow .box:hover {
    background-color: #B8AB74;
    color: #F4F3EF;
    border: 1px solid #B8AB74;
}
#workflow h2 {
    font-family: Montserrat-Light;
    margin: 10px;
}
@media only screen and (max-width: 900px) {
    #workflow > div {
        width: 70vw;
    }
    #workflow h2 {
        font-size: 1.2em;
    }
    #workflow b {
        font-size: 1.4em;
    }
}
@media only screen and (max-width: 600px) {
    #workflow > div {
        width: 80vw;
    }
    #workflow h2 {
        font-size: 1em;
    }
    #workflow b {
        font-size: 1.2em;
    }
    #workflow .box {
        width: 70vw;
    }
}

/* Service */
#service {
    height: auto;
    flex-direction: column;
    padding: 3em;
}
.typewriter{
    margin: 1em;
}
.typewriter h2 {
    font-family: MontserratAlternates-Light;
    color: #242424;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid #D6CB95; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.05em; /* Adjust as needed */
    animation: 
      typing 5s steps(40, end),
      blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #D6CB95; }
}
.services {
    display: flex;
    max-width: 900px;
}
.services > div {
    flex: 1;
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    margin: 1em;
} 
#service a {
    text-decoration: none;
}
#service .one {
    background-image: url('../img/services/training.jpg');
}
#service .two {
    background-image: url('../img/services/consulting.jpg');
}
#service .three {
    background-image: url('../img/services/platform.jpeg');
}
#service .black-background {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    flex-direction: column;
    align-items: start;
    padding: 0em 1em;
    justify-content: flex-end;
}
#service .black-background:hover {
    background: rgba(122, 109, 57, 0.6)
}
#service .black-background h2 {
    font-size: 1em;
    font-family: TitilliumWeb-Regular;
}
.onchange-hover-box {
    opacity: 1;    
}
.change-hover-box {
    opacity: 0;
}
.services h1 {
    color: white;
    font-family: Montserrat-Regular;
    font-size: 2em;
}
#service .box {
    padding: 0px;
    border: none;
}
@media only screen and (max-width: 900px) {
    #service h2 {
        font-size: 1.2em;
    }
    #service .box h1 {
        font-size: 1.5em;
    }
    #service {
        padding: 2em 0em;
    }
}
@media only screen and (max-width: 700px) {
    .services {
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .services > div {
        width: 60vw;
    }
    .typewriter h2 {
        letter-spacing: 0em;
        font-size: 1.1em;
    }
    #service .title {
        padding: 0em 2em;
    }
}
@media only screen and (max-width: 600px) {
    .typewriter h2 {
        white-space: normal;
        border-right: none;
        letter-spacing: 0em;
        animation: none;
    }
    .typewriter {
        padding: 0em 2em;
    }
}
@media only screen and (max-width: 500px) {
    .services > div {
        width: 75vw;
    }
}
@media only screen and (max-width: 450px) {
    #service .black-background h2 {
        font-size: 0.5em;
    }
}

/* Team */
section#team {
    height: auto;
    background-color: #D6CB95;
    flex-direction: column;
    text-align: center;
    padding: 2.5em;
}
#team > div {
    flex-direction: column;
}
#team h1 {
    color: #826C54;
}
#team h1 span {
    background: #D6CB95;
}
#team .team-container img {
    border-radius: 1000px;
}
.team-container {
    align-items: flex-start;
}
.team-container > div{
    flex: 1;
    flex-direction: column;
    margin: 0.5em;
}
.grid-container {
    width: 820px;
}
#team h3, #team h4 {
    margin: 0px;
}
#team h3 {
    font-family: MontserratAlternates-Light;
    color: #393939;
    font-size: 1em;
    margin-top: 1em;
}
#team h4 {
    font-family: Montserrat-Regular;
    color: #826C54;
    font-size: 0.9em;
}
@media only screen and (max-width: 1200px) {
    #team h3 {
        font-size: 0.8em;
    }
    #team h4 {
        font-size: 0.8em;
    }
    .team-container {
        width: 90vw;
    }
}
@media only screen and (max-width: 750px) {
    #team .team-container {
        flex-wrap: wrap;
    }
    .team-container {
        width: 70vw;
    }
}
@media only screen and (max-width: 610px) {
    #team .team-container {
        flex-wrap: wrap;
    }
    .team-container {
        width: 90vw;
    }
}

/* Client */
section#client {
    height: auto;
    padding: 2em;
}
.clients {
    display: flex;
    max-width: 1100px;
}
#client > div {
    flex-direction: column;
}
.clients img {
    height: 100px;
}
@media only screen and (max-width: 1233px) {    
    .clients {
        flex-wrap: wrap;
    }
}

/* Footer */
#footer {
    font-family: Montserrat-Regular;
    background-color: #393939;
    position: relative;
    bottom: 0px;
    width: 100%;
}
#footer img {
    height: 2em;
    margin-bottom: 1em;
}
#footer .shadow-background {
    display: flex;
    padding: 2em 25vw;
    color: white;
    max-width: 800px;
    margin: auto;
    padding: 2em 4em;
    flex-wrap: wrap;
}
#footer a {
    color: white;
    text-decoration: none;
}
#footer .shadow-background > div {
    flex: 1;
}
.socmed {
    display: flex;
    justify-content: flex-end;
}
.socmed i {
    color: white;
    padding: 0.5em;
    font-size: 1.5em;
}
#footer .fa-phone {
    margin-right: 6px;
}
#footer .fa-envelope {
    margin-right: 4px;
}
@media only screen and (max-width: 550px) {    
    #footer .shadow-background {
        flex-direction: column;
    }
    .socmed {
        justify-content: flex-start;
    }
}

/* PDF Viewer */
#pdf {
    flex-direction: column;
    padding: 3em;
}
#pdf iframe {
    border:1px solid #CCC; 
    border-width:1px; 
    margin-bottom:5px; 
    max-width: 800px; /* Sesuaikan dengan rasio pdf*/
    max-height: 450px; /* Sesuaikan dengan rasio pdf*/
    width: 80vw; /* Sesuaikan dengan rasio pdf*/
    height: 45vw; /* Sesuaikan dengan rasio pdf*/
}
#pdf h2 {
    max-width: 800px;
    font-family: Raleway-Light;
    font-size: 1.1em;
    color: #393939;
    width: 70vw;
}

/* Product Detail */
.head-title {
    padding: 3em 3em 0em 3em;
}

/* Project Template */
section.project-template {
    display: flex;
    flex-direction: column;
    padding: 1.6vw 0em;
}
.image-container {
    display: flex;
    height: 50vh;
    justify-content: space-between;
    min-height: 38vw;
}
.image-container > div {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 32vw;
}
.text-container {
    display: flex;
    padding: 1.5em;
    max-width: 1300px;
}
.text-container > div {
    flex: 1;
}
.project-template h1 {
    font-size: 2em;
}
.title-project {
    padding: 0 2em 0 5vw;
}
.description-project {
    font-family: Raleway-Regular;
    padding: 0 1em;
}
.description-project hr {
    background-color: #8C543B;
    width: 60px;
    height: 3px;
}
.description-project h2 {
    margin-bottom: 0px;
}
.description-project h3 {
    font-family: Raleway-Light;
    font-size: 1em;
}
@media only screen and (max-width: 900px) {
    .project-template h1 {
        font-size: 1.5em;
    }
    .description-project h2 {
        font-size: 1.2em;
    }
    .description-project h3 {
        font-size: 0.8em;
    }
    .project-template hr {
        margin-bottom: 0px;
    }
    .title-project hr {
        height: 4px;
        width: 100px;
    }
}
@media only screen and (max-width: 700px) {
    .text-container {
        flex-direction: column;
    }
    .description-project {
        max-width: 60vw;
        padding-left: 15vw;
    }
    .project-template h1 {
        margin-bottom: 0px;
    }
    .project-template .three {
        display: none;
    }
    .image-container > div {
        width: 48vw;
    }
}
@media only screen and (max-width: 530px) {
    .project-template .two {
        display: none;
    }
    .image-container > div {
        width: 100vw;
    }
    section.project-template {
        padding: 0px;
    }
}

/* Bukalapak */
#training section.head-title > div{
    max-width:1300px;
    flex: 1;
}
#training section.head-title hr {
    margin-bottom: 0px;
}
section#bukalapak, #training section.head-title {
    background-color: #EAEAEA;
}
#bukalapak .one {
    background-image: url('../img/training/bukalapak-1.jpg');
}
#bukalapak .two {
    background-image: url('../img/training/bukalapak-2.jpg');
}
#bukalapak .three {
    background-image: url('../img/training/bukalapak-3.jpg');
}

/* pln */

#pln .one {
    background-image: url('../img/training/pln-1.jpg');
}
#pln .two {
    background-image: url('../img/training/pln-2.jpg');
}
#pln .three {
    background-image: url('../img/training/pln-3.jpg');
}

/* 27 hours */
section#hours-27 {
    display: flex;
    background-color: #EAEAEA;
    padding: 2em 0;
    margin-left: 5vw;
}
#hours-27 > div {
    flex: 1;
}
.content-half {
    padding: 0em 2em 0em 10vw;
}
.content-half h2 {
    color: #8C543B;
    font-family: Raleway-Light;
    font-size: 2em;
    margin: 0px;
}
.content-half h3 {
    font-size: 1.4em;
    font-family: Raleway-Light;
}
.content-half > div {
    max-width: 450px;
}
.image-half {
    background-position: center;
    background-size: cover;
    background-image: url('../img/training/27-hour.jpg');   
    height: 50vw;
    max-height: 700px;
}
@media only screen and (max-width: 1300px) {
    .content-half h3 {
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 1100px) {
    .content-half h1 {
        font-size: 2.5em;
    }
    .content-half hr {
        height: 5px;
    }
    .content-half h3 {
        font-size: 0.9em;
    }
    .content-half {
        padding: 0em 3em 0em 15vw;
    }
}
@media only screen and (max-width: 900px) {
    .content-half {
        padding: 0em 3em;
    }
    section#hours-27 {
        margin-left: 2em;
        padding: 1.2em 0;
    }
    .content-half h1 {
        font-size: 2.2em;
        margin: 0px
    }
    .content-half h2 {
        font-size: 1.5em;
    }
    .content-half h3 {
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 700px) {
    section#hours-27 {
        flex-direction: column-reverse;
        padding: 1.2em 0 1.2em 1.2em;
    }
    #hours-27 > div {
        flex: none;
    }
    .image-half {
        width: 100%;
    }
    .content-half {
        margin-top: 2em;
    }
}
@media only screen and (max-width: 530px) {
    section#hours-27 {
        margin-left: 0em;
        padding: 0px 0px 2em 0px; 
    }
}

/* pln-executive */
#pln-executive .one {
    background-image: url('../img/training/pln-executive-1.jpg');
}
#pln-executive .two {
    background-image: url('../img/training/pln-executive-2.jpg');
}
#pln-executive .three {
    background-image: url('../img/training/pln-executive-3.jpg');
}
#pln-executive .image-container > div {
    width: 49vw;
}
#pln-executive .title-project h2 {
    color: #B8AB74;
    font-family: Raleway-Regular;
    font-size: 1.5em;
}
@media only screen and (max-width: 1200px) { 
    #pln-executive .image-container > div {
        width: 48vw;
    }
}
@media only screen and (max-width: 530px) {
    #pln-executive .image-container > div {
        width: 100vw;
    }
}
/* pln executive content */
section#pln-executive-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.pln-executive-wrapper > div {
    flex: 1;
}
.pln-executive-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 0 2em;
}
.table-content {
    display: flex;
}
.table-content-title {
    flex: 1;
}
.table-content-description {
    flex: 3;
}
#pln-executive-content h1 {
    font-size: 1.2em;
}
.table-content h2 {
    color: #826C54;
    font-family: Raleway-Regular;
    font-size: 1.2em;
}
.table-content h3 {
    color: #393939;
    font-family: Raleway-Light;
    font-size: 1em;
}
.table-content > div {
    border-top: 2px solid rgba(184, 171, 116, 0.59);
    margin: 0em 2em;
}
@media only screen and (max-width: 750px) {
    .table-content > div {
        margin: 0em 1em;
    }
    .table-content h2 {
        font-size: 1em;
    }
    .table-content h3 {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 580px) {
    .pln-executive-wrapper {
        padding: 0px;
    }
}
