body {
    margin: 0px;
}

/* Font */
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../font/Montserrat-Regular.otf");
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../font/Montserrat-Light.otf");
}
@font-face {
    font-family: "MontserratAlternates-Regular";
    src: url("../font/MontserratAlternates-Regular.otf");
}
@font-face {
    font-family: "MontserratAlternates-Light";
    src: url("../font/MontserratAlternates-Light.otf");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("../font/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Light";
    src: url("../font/Raleway-Light.ttf");
}
@font-face {
    font-family: "TitilliumWeb-Regular";
    src: url("../font/TitilliumWeb-Regular.ttf");
}
@font-face {
    font-family: "TitilliumWeb-Light";
    src: url("../font/TitilliumWeb-Light.ttf");
}
.font1{
    font-family: Montserrat-Regular;
}
.font1-thin{
    font-family: Montserrat-Light;
}
.font2{
    font-family: MontserratAlternates-Regular;
}
.font2-thin{
    font-family: MontserratAlternates-Light;
}
.font3{
    font-family: Raleway-Regular;
}
.font3-thin{
    font-family: Raleway-Light;
}
.font4{
    font-family: TitilliumWeb-Regular;
}
.font4-thin{
    font-family: TitilliumWeb-Light;
}
.brown1 {
    color: #826C54;
}
.brown2 {
    color: #8C543B;
}
.brown3 {
    color: #7A6D39;
}
.brown4 {
    color: #91895D;
}
.brown5 {
    color: #B8AB74;
}
.brown6 {
    color: #D6CB95;
}
.black1 {
    color: #393939;
}
.black2 {
    color: #242424;
}
.black3 {
    color: #3E3E3E;
}
.black4 {
    color: #000000;
}

/* Menu */
#menu {
    height: 5vh;
    position: fixed;
    font-family: Montserrat-Regular;
    color: white;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu .filler {
    flex: 1;
}
#menu > div {
    flex: 2;
    text-align: center;
}
.logo img{
    height: 3vh;
    margin: -2px;
}

/* Home */
section, .fullpage {
    height: 100vh;
    width: 100vw;
}
img {
    position: absolute;
}
.background {
    background-image: url('../img/background/learning.jpg');
    background-position: center;
    background-size: cover;
}
.black-background {
    background: rgba(0, 0, 0, 0.7);
}
.content {
    position: absolute;
    height: 50vh;
    color: white;
    display: flex;
    width: 70vw;
}
.white-background {
    background-color: white;
}
.brown-background {
    background-color: #B8AB74;
}
#home .brown-background {
    height: 40vh;
    width: 20px;
    margin: 4em;
}
h1 {
    font-family: Raleway-Regular;
    font-size: 4em;
}
#home h1 {
    margin-right:17vw;
}
u {
    text-decoration: none;
    margin-top: 10px;
    border-bottom: 5px solid #91895D;
}
#home i {
    color: #B8AB74;
    font-size: 6em;
    bottom: 2px;
    position: absolute;
}
/* About */
section#about {
    height: auto;
}
#about > div {
    max-width: 1360px;
}
#about > div > div{
    flex: 1;
    margin: 5vw;
}
.box-container {
    display: flex;
    flex-direction: column;
}
#about ul {
    color: #826C54;
    font-family: MontserratAlternates-Regular;
}
#about h1 {
    color: #8C543B;
    font-family: Raleway-Regular;
    margin: 20px 0px;
}
#about h2 {
    margin: 0px;
    font-family: TitilliumWeb-Light;
    color: #393939;
}
.box {
    flex: 1;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;
    margin: 0.5em;
}
.number {
    float: right;
    font-size: 1.5em;
    font-family: Montserrat-Regular;
}
.bullet {
    display: flex
}
.bullet > ul {
    flex: 1;
}
hr {
    height: 8px;
    background-color: #D6CB95;
    border: none;
    width: 170px;
    margin-left: 0px;
    margin-bottom: 30px;
}

/* Vision */
section#vision {
    height: auto;
    text-align: center;
}
#vision > div {
    max-width: 820px;
}
#vision h1, #vision h2{
    font-family: Raleway-Light;
}
#vision h1 {
    font-size: 24px;
    color: #D6CB95;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: url("../img/background/heading-grey.jpg") center repeat-x;
    margin: 0 0 25px 0;
}
#vision h1 span {
    background: #FFF;
    padding: 0 20px;
}
#vision h2 {
    font-size: 1em;
    color: #3E3E3E;
}
